body {
    background: hsl(47, 88%, 63%);

    font-family: 'Inter', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;
    padding: 0;
}

#container {
    background: white;

    width: 384px;
    height: 522px;
    border-radius: 3%;
    border: 1px solid hsl(0, 0%, 7%);

    box-shadow: 10px 10px hsl(0, 0%, 7%);
}

img {
    margin-left: 20px;
    margin-top: 23px;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
    background-color: hsl(47, 88%, 63%);

    height: 30px;
    width: 80px;

    border-radius: 7%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    margin-left: 20px;
    font-size: 16px;
}